<% if (campground.amenities.length > 1) { %>
	<% for (var i = 0; i < campground.amenities.length; i++) { %>
		<% switch (campground.amenities[i]) { 
			case "NH": %><span id="lacksAmenity">RV Hookups</span><% break;
			case "E": %><span id="hasAmenity">RV Electric Hookups</span><% break;
			case "WE": %><span id="hasAmenity">RV Water Hookups</span> <span id="hasAmenity">RV Electric Hookups</span><% break;
			case "WES": %><span id="hasAmenity">RV Water Hookups</span> <span id="hasAmenity">RV Electric Hookups</span> <span id="hasAmenity">RV Sewer Hookups</span><% break;
			case "DP": %><span id="lacksAmenity">Sanitary Dump</span><% break;
			case "ND": %><span id="lacksAmenity">Sanitary Dump</span><% break;
			case "FT": %><span id="hasAmenity">Toilet</span><% break;
			case "VT": %><span id="hasAmenity">Vault Toilet</span><% break;
			case "FTVT": %><span id="hasAmenity">Toilets</span> <span id="hasAmenity">Vault Toilets</span><% break;
			case "PT": %><span id="hasAmenity">Toilets</span><% break;
			case "NT": %><span id="lacksAmenity">Toilets</span><% break;
			case "DW": %><span id="hasAmenity">Drinking Water</span><% break;
			case "NW": %><span id="lacksAmenity">Drinking Water</span><% break;
			case "SH": %><span id="hasAmenity">Shower</span><% break;
			case "NS": %><span id="lacksAmenity">Shower</span><% break;
			case "RS": %><span id="hasAmenity">Reservations</span><% break;
			case "NR": %><span id="lacksAmenity">Reservations</span><% break;
			case "PA": %><span id="hasAmenity">Pets</span><% break;
			case "NP": %><span id="lacksAmenity">Pets</span><% break;
			case "L$": %><span id="unknownAmenity"><$12</span><% break;
			default: %><span id="unknownAmenity"><%= campground.amenities[i] %></span><%
		} %>
	<% } %>
<% } else { %>
	<%= campground.amenities[0] %>
<% } %>
