<% include ../partials/header %>

<div class="black-panel" class="row">
	<h1>New Post</h1>
	<form class="edit-form" action="/posts" method="post">
		<div class="form-group">
			<input class="form-control" type="text" name="title" placeholder="Title">
		</div>
		<div class="form-group">
			<input class="form-control" type="date" name="date" placeholder="Date">
		</div>
		<div class="form-group">
			<div class="form-control" contentEditable="true" name="content" placeholder="Content"></div>
		</div>
		<div class="form-group">
			<button class="form-control" class="btn btn-primary">Submit!</button>
		</div>
	</form>
</div>

<% include ../partials/footer %>
