<% include ../partials/header %>

<script src="/js/post_edit.js"></script>
<link rel="stylesheet" href="/stylesheets/post_edit.css">

<div id="edit-container">
	
	<div class="black-panel" class="row">
		<h1>New Post</h1>
		<form class="" action="/posts" method="post">
			<div class="form-group">
				<input class="form-control" type="text" name="title" placeholder="Title">
			</div>
			<div class="form-group">
				<input class="form-control" type="date" name="date" placeholder="Date">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="category" placeholder="Category">
			</div>
			<div class="form-group">
				<ul class="nav navbar-nav" id="editButtonList">
					<li><button type="button" class="post-edit-button" id="boldButton">B</button></li>
					<li><button type="button" class="post-edit-button" id="italicButton">I</button></li>
					<li><button type="button" class="post-edit-button" id="underlineButton">U</button></li>
					<li>
						<input type="button" class="post-edit-button" id="fontDropdownButton" value="Fonts"/>
						<div id="fontDropdownContent" class="dropdown-content">
							<p class="font-menu-button">Arial</p>
							<p class="font-menu-button">Helvetica</p>
							<p class="font-menu-button">Times</p>
							<p class="font-menu-button">Courier</p>
						</div>
					</li>
					<li>
						<input type="number" id="fontSizeField"/>
					</li>
					<li><button type="button" class="post-edit-button" id="imgButton">Image</button></li>
					<li><button type="button" class="post-edit-button" id="linkButton">Link</button></li>
					<li><button type="button" class="post-edit-button" id="leftAlignButton">L</button></li>
					<li><button type="button" class="post-edit-button" id="centerAlignButton">M</button></li>
					<li><button type="button" class="post-edit-button" id="rightAlignButton">R</button></li>
					<li id="publicLi"><input type="checkbox" name="display"></li>
				</ul>
			</div>
			<div class="form-group">
				<textarea style="visibility: hidden; display: none;" name="content" id="postContentArea"></textarea>
				<div id="postContentEditor" contentEditable="true"></div>
			</div>
			<div class="form-group">
				<button class="form-control" class="btn btn-primary">Submit!</button>
			</div>
		</form>
	</div>

</div>

<% include ../partials/footer %>
