<% include partials/header %>

<div class="container">
	<h1><strong>This is a placeholder about page</strong></h1>
	<h3>There will be intere4sting stuff here!</h3>
</div>

<% include partials/footer %>
