<% include partials/header %>

<div class="black-panel">
	<h1>Hi, would you like to login?</h1>
	<form class="edit-form" action="/login" method="post">
	    <input type="text" name="username" placeholder="username">
	    <input type="password" name="password" placeholder="password">
	    <input type="submit" value="Login">
	</form>
<div>

<% include partials/footer %>
