<% include partials/header %>

<div class="black-panel">
	<h1><strong>Welcome to Lindsay's awesome art gallery!</strong></h1>
	<h3>Here there be many fine works of art :-)</h3>
</div>

<% include partials/footer %>
