<% include partials/header %>

<div id="black-panel">
	<h1 style="margin: 20px 20px"><strong>Welcome to Lindsay's awesome art gallery!</strong></h1>
	<h3>Here there be many fine works of art :-)</h3>
</div>

<% include partials/footer %>
