/* filter bar */

.search-bar {
	background-color: black;
	opacity: 0.85;
	padding: 15px;
	position: relative;
}

#searchField {
    font-size: 12pt;
    border: none;
    padding: 5px 4px;
    vertical-align: top;
    background-color: white;
    color: black;
    outline: 0;
}

#searchButton {
	transition: 0.3s background-color;
    background-color: white;
    margin-left: 5px;
    border: none;
    color: black;
    font-size: 12pt;
    padding: 5px 10px;
}

#searchButton:hover, #filterMenuButton:hover {
	transition: 0.3s background-color;
	background-color: lightgray;
}

#filterBar {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Dropdown */

.filterLabel {
	float: left;
	font-size: 12pt;
	/*width: 65px;*/
	margin-left: 10px;
	margin-top: 5px;
	text-align: right;
}

.type-menu-button, .width-menu-button, .height-menu-button, .genre-menu-button,
.sold-menu-button {
	transition: 0.3s background-color;
	background-color: white;
	color: black;
	padding: 5px 15px;
	margin: 0;
	font-size: 12pt;
	border: none;
	cursor: pointer;
	width: 100%;
}

.type-menu-button:hover, .width-menu-button:hover, .height-menu-button:hover,
.genre-menu-button:hover, .sold-menu-button:hover {
	transition: 0.3s background-color;
	background-color: lightgray;
	text-align: center;
}

.lg-dropdown {
	width: 120px;
}

.md-dropdown {
	width: 90px;
}

.sm-dropdown {
	width: 60px;
}

#typeDropdownContent {
	z-index: 2;
}

#genreDropdownContent {
	z-index: 3;
}

#widthDropdownContent {
	z-index: 4;
}

#heightDropdownContent {
	z-index: 5;
}

#soldDropdownContent {
	z-index: 6;
}

@media (max-width: 768px) {
	#filterBar {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.dropbtn {
		width: 100%;
		margin:0;
		margin-top: 10px;
	}
	
	.dropdown-content {
		position: relative;
		margin-top: 5px;
		margin-left: 0;
		width: 100%;
		background-color: #d8d8d8;
	}
	
	#filterMenuLabel {
		display: none;
	}
}
