* {
	border-radius: 0 !important;
}

.thumbnail {
	position: relative;
	border: 0;
	padding: 0;
}

.work-container {
	margin-left: 20px;
	margin-right: 20px;
}

.work-img {
	max-width: 750px;
	max-height: 580px;
	margin-bottom: 20px;
	padding: 0;
	box-shadow: 8px 8px 15px #595959;
	border: 3px solid black;
}

.preview-img {
	box-shadow: 6px 6px 15px #595959;
	border: 2px solid black;
}

.thumbnail .caption-full {
    padding: 9px;
}

.navbar {
	background-color: black;
	opacity: 0.85
}

.navbar-form {
	border: none;
}

.infobar {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: black;
	color: white;
}

.infobar-title {
	margin-top: 10px;
	font-size: 15pt;
	font-weight: bold;
}

.col-lg-1 {
	padding-right: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

textarea {
	resize: vertical;
}

body {
	background-image: url("../images/grayfabric.jpg");
	color: white;
}

em {
    color: gray;
}

.darken-img {
	background-color: black;
}

a.darken:hover img {
	opacity: 0.75;
}

.post-content {
	background: black;
	opacity: 0.85;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

#navbar-brand {
	color: white;
}

#navbar-link {
	color: white;
}

#preview-image {
	position: relative;
}

#preview-title {
	color: white;
	font-weight: bold;
	font-size: 12pt;
}

#post-panel {
	background-color: black;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
	max-width: 700px;
	margin: auto;
}

#post-h1 {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 24pt;
}

#post-content {
	font-size: 14pt;
	display: block;
	margin-left:20px;
	margin-right:20px;
}

#post-date {
	font-size: 12pt;
	font-style: italic;
	margin-right:20px;
	margin-left: 20px;
}

#preview-post-panel {
	max-width: 200px;
	text-align: left;
	background-color: #1a1a1a;
	border: 2px solid black;
	color: white;
	box-shadow: 5px 5px 10px #595959;
	margin-bottom: 20px;
	padding: 15px;
}

#preview-post-title {
	color: white;
	font-weight: bold;
	font-size: 12pt;
	padding-bottom: 15px;
}

#preview-post-date {
	color: white;
	font-style: italic;
	font-size: 8pt;
	margin-bottom: 0px;
}

#post-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-left: 5px;
	margin-right: 0px;
}

#login-form {
	color: black;
}

#edit-form {
	margin: 0px 40px;
	color: black;
}

#black-panel {
	text-align: center;
	background-color: black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
}

#admin-paragraph {
	margin-bottom: 15px;
}

#post-admin-paragraph {
	margin-top: 15px;
	margin-left: 20px;
}

#edit-link {
	color: black;
	background-color: yellow;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	
}

#edit-link:hover {
	background-color: #cccc00
}

#add-link {
	color: black;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	
}

#add-link:hover {
	background-color: #ccc;
}

#delete-link {
	color: black;
	border: 0;
	background-color: red;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#delete-link:hover {
	background-color: #cc0000
}

#delete-form {
    display: inline;
}

@media (min-width: 1000px) {
	.work-img-container {
		float: left;
		margin-right: 20px;
	}
	
	.infobar {
		overflow: auto;
	}
}

@media (max-width: 1000px) {
	.work-img {
		width: 100%;
	}
	
	.infobar {
		margin-left: -20px;
		margin-right: -20px;
	}
}

@media (max-width: 480px) {
	.col-lg-1 {
		width: 100%;
		padding-right: 20px;
	}
	
	#preview-post-panel {
		max-width: none;
		
	}
}

@media (min-width: 1200px) {
	.col-lg-1 {
		width: auto;
	}
}

@media (max-width: 740px) {
	#post-panel {
		margin-left: 20px;
		margin-right: 20px;
	}
}
