* {
	border-radius: 0 !important;
}

.row {
	margin: 0;
	padding: 0;
}

/* Work Show Page */
.work-container {
	margin-left: 20px;
	margin-right: 20px;
}

.work-img {
	max-width: 750px;
	max-height: 580px;
	margin-bottom: 20px;
	padding: 0;
	box-shadow: 8px 8px 15px #595959;
	border: 3px solid black;
}

#admin-paragraph {
	margin-bottom: 15px;
}

.infobar {
	max-width: 400px;
	padding: 20px;
	background-color: black;
	color: white;
}

.infobar>h1 {
	font-size: 15pt;
	font-weight: bold;
	margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

textarea {
	resize: vertical;
}

body {
	background-image: url("../images/grayfabric.jpg");
	color: white;
}

em {
    color: gray;
}

/* Navbar */

.navbar {
	background-color: black;
	opacity: 0.85
}

.navbar-brand {
	color: white;
}

.navbar-link {
	color: white;
}

.navbar-nav>li>a.add-link {
	color: black;
	background-color: white;
	margin: 10px 0px;
	padding: 5px 10px;
}

.navbar-nav>li>a.add-link:hover {
	background-color: #ccc;
	color: black;
}

/* Gallery page */

.thumbnail {
	position: relative;
	padding: 0;
	min-height: 100px;
	background-color: black;
	border: 2px solid black;
	box-shadow: 5px 5px 10px #595959;
}

a.darken:hover img {
	opacity: 0.75;
}

span.preview-title {
	color: white;
	font-weight: bold;
	font-size: 12pt;
}

div.preview-title-content {
	background: black;
	opacity: 0.85;
	width: 100%;
	padding: 5px 10px;
	top: 0;
	left: 0;
	position: absolute;
}

/* Post List */

.col-lg-1 {
	width: 225px;
	padding-left: 20px;
	padding-right: 0;
	padding-bottom: 0px;
}

.preview-post-panel {
	text-align: left;
	background-color: #1a1a1a;
	border: 2px solid black;
	color: white;
	box-shadow: 5px 5px 10px #595959;
	margin-bottom: 20px;
	padding: 15px;
}

.preview-post-panel>a {
	color: white;
	font-weight: bold;
	font-size: 12pt;
	padding-bottom: 15px;
}

.preview-post-panel>a>p {
	color: white;
	font-style: italic;
	font-size: 8pt;
	margin-bottom: 0px;
}

#post-container {
	display: flex;
	flex-wrap: wrap;
}

/* Post Show Page */

.post-panel {
	background-color: black;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 700px;
	margin: auto;
}

.post-panel>h1 {
	font-size: 24pt;
}

.post-panel>div {
	font-size: 14pt;
	display: block;
}

.post-panel>p {
	font-size: 12pt;
	font-style: italic;
}

#login-form {
	color: black;
}

.edit-form {
	color: black;
}

.form-group {
	margin-bottom: 0px;
	margin-top: 15px;
}

.black-panel {
	width: 768px;
	min-width: 400px;
	text-align: center;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.black-panel>h1 {
	margin: 0;
}

.black-panel>h3 {
	margin-top: 15px;
}

#post-admin-paragraph {
	margin-top: 15px;
}

/* Edit link */

a.edit-link {
	color: black;
	background-color: yellow;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	
}

a.edit-link:hover {
	background-color: #cccc00;
	text-decoration: none;
}

/* Delete form/button */

.delete-form>button {
	color: black;
	border: 0;
	background-color: red;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.delete-form>button:hover {
	background-color: #cc0000
}

.delete-form {
    display: inline;
    font-size: 11pt;
}

/**/

@media (min-width: 1000px) {
	.work-img-container {
		float: left;
		margin-right: 20px;
	}
	
	.infobar {
		overflow: auto;
	}
}

@media (min-width: 768px) {
	.col-sm-3 {
		width: 300px;
	}
}

@media (max-width: 768px) {
	.black-panel {
		min-width: none;
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 480px) {
	.col-lg-1 {
		padding-right: 20px;
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.work-img {
		width: 100%;
	}
	
	.infobar {
		margin-left: -20px;
		margin-right: -20px;
		max-width: none;
		
	}
}

@media (max-width: 740px) {
	.post-panel {
		margin-left: 20px;
		margin-right: 20px;
	}
}
