* {
	border-radius: 0 !important;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
	position: relative;
	border: 0;
    padding: 0;
}
.work-img {
	border: 16px solid black;
}

.preview-img {
	border: 4px solid black;
}

.thumbnail .caption-full {
    padding: 9px;
}

.navbar-form {
	border: none;
}

.infobar {
	background-color: #181818;
	color: lightgray;
}

.infobar-title {
	margin-top: 10px;
	font-size: 15pt;
	font-weight: bold;
	color: lightgray;
}

.infobar-info {
	color: lightgray;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-image: url("../images/background.png");
}

em {
    color: gray;
}

.darken-img {
	background-color: black;
}

a.darken:hover img {
	opacity: 0.75;
}

.post-content {
	background: black;
	opacity: 0.75;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

#navbar-link {
	color: white;
}

#preview-image {
	position: relative;
}

#preview-title {
	color: white;
	font-weight: bold;
	font-size: 12pt;
}

#delete-form {
    display: inline;
}
