.font-menu-button {
	transition: 0.3s background-color;
	background-color: white;
	color: black;
	padding: 5px 15px;
	margin: 0;
	font-size: 12pt;
	border: none;
	cursor: pointer;
	width: 100%;
}

.font-menu-button:hover {
	transition: 0.3s background-color;
	background-color: lightgray;
	text-align: center;
}

#fontSizeField {
	color: black;
	font-size: 10pt;
	padding: 7px 7px 4px 4px;
	width: 44px;
	outline: 0;
	background-color: white;
	border: none;
}

#fontDropdownContent {
	margin-left: 0;
}

#editButtonList {
	float: none;
}

#editButtonList > li {
	margin-left: 5px;
}

#publicLi {
	margin-top:5px;
}

#publicLabel {
	vertical-align: top;
	margin-left:5px;
}

.size-field {
	width: 64px;
}

.src-field {
	color: black;
	height: 30px;
	display: inline;
}

#linkField, #imgField {
	transition: 0.2s width;
	width: 100px;
}

#linkField:focus, #imgField:focus {
	transition: 0.2s width;
	width: 300px;
}

#linkButton {
	color: black;
}

#imgButton {
	color: black;
}

img {
	transition: border-color 0.3s;
	transition: width 0.5s, height 0.5s;
	border: 2px solid black;
}
