<% include ../partials/header %>

<div class="search-bar">
	<input type="text" id="searchField"/>
	<button id="searchButton">Search</button>
</div>

<div class="container-fluid row" style="display: flex; flex-wrap: wrap;">
	<% works.forEach(function(work) { %>
		<div class="col-sm-3">
			<div class="thumbnail">
				<a class="darken" href="works/<%= work.id %>"><img height src="<%= work.image %>"/></a>
				<div class="preview-title-content">
					<span class="preview-title"><%= work.title %></span>
				</div>
			</div>
		</div>
	<% }); %>
</div>
