<% include ../partials/header %>

<div class="container-fluid">
	<div class="row">
		<% works.forEach(function(work) { %>
			<div class="col-sm-4">
				<div id="#preview-image" class="thumbnail darken-img">
					<a class="darken" href="works/<%= work.title %>"><img height src="<%= work.image %>"/></a>
					<div class="caption post-content">
						<span id="preview-title"><%= work.title %></span>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>
