<% include ../partials/header %>

<script src="/js/work_index.js"></script>
<link rel="stylesheet" href="/stylesheets/work_index.css"/>

<% include ../partials/search-bar %>

<div class="container-fluid row" style="display: flex; flex-wrap: wrap;z-index:-1;">
	<% works.forEach(function(work) { %>
		<div class="col-sm-3">
			<div class="thumbnail">
				<a class="darken" href="/works/<%= work.id %>"><img height src="<%= work.image %>"/></a>
				<div class="preview-title-content">
					<span class="preview-title"><%= work.title %></span>
				</div>
			</div>
		</div>
	<% }); %>
</div>
