<% include ../partials/header %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<div class="thumbnail">
				<img src="<%= work.image %>">
			</div>
		</div>
		<div class="col-md-2 infobar">
			<div class="container-fluid">
				<p class="infobar-title"><%= work.title %></p>
				<p class="infobar-info"><%= work.info %></p>
			</div>
		<div>
	</div>
</div>

<% include ../partials/footer %>
